/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-foreground: #ededed;
  --color-primary: #1d1d1d;
  --color-accent: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
  scrollbar-width: none;
}
